
<div class="w3-container w3-card-4">
  <div class="w3-row w3-field-padding">
    <h2 class="section-title">Additional Fields</h2>
    <p>
      <%= form.check_box :dissolution_of_marriage, id: :client_dissolution_of_marriage, class: "w3-input w3-border" %>
      <label for="client_dissolution_of_marriage">Dissolution of Marriage?</label>
    </p>
    <label>Circuit</label>
    <%= form.text_field :circuit, id: :circuit, class: "w3-input w3-border" %>
    <label>Division</label>
    <%= form.text_field :division, id: :division, class: "w3-input w3-border" %>
    <label>Judge's Name</label>
    <%= form.text_field :judge_name, id: :judge_name, class: "w3-input w3-border" %>
    <label>Judge's Address</label>
    <%= form.text_field :judge_address, id: :judge_address, class: "w3-input w3-border" %>
    <label>Judge's Phone Number</label>
    <%= form.text_field :judge_phone_number, id: :judge_phone_number, class: "w3-input w3-border" %>
    <label>Judge's Email</label>
    <%= form.text_field :judge_email, id: :judge_email, class: "w3-input w3-border" %>
    <label>Judge's Courtroom</label>
    <%= form.text_field :judge_courtroom, id: :judge_courtroom, class: "w3-input w3-border" %>
    <label>Drivers License Number of Payor</label>
    <%= form.text_field :owes_money_drivers_license_number, id: :owes_money_drivers_license_number, class: "w3-input w3-border" %>
    <label>Professional License of Payor</label>
    <%= form.text_field :owes_money_professional_license, id: :owes_money_professional_license, class: "w3-input w3-border" %>
    <label>Address of Payor's Employer</label>
    <%= form.text_field :owes_money_employer_address, id: :owes_money_employer_address, class: "w3-input w3-border" %>
    <label>Phone Number of Payor's Employer</label>
    <%= form.text_field :owes_money_employer_phone_number, id: :owes_money_employer_phone_number, class: "w3-input w3-border" %>
    <label>Employer's EIN</label>
    <%= form.text_field :employer_ein, id: :employer_ein, class: "w3-input w3-border" %>
    <p>
      <%= form.check_box :owes_money_represented_by_council, id: :client_owes_money_represented_by_council, class: "w3-input w3-border" %>
      <label for="client_owes_money_represented_by_council" class="field-explanation-sub-title">Is Payor Represented By Council?</label>
    </p>
    <p class="field-explanation-sub-title margin-md">Does Payor Own any Assets?</p>
    <label>If so, Please Describe</label>
    <%= form.text_area :owes_money_assets, id: :owes_money_assets, class: "w3-input w3-border", rows: 5 %>
    <p class="field-explanation-sub-title margin-md">Does Payor Own any Real Property?</p>
    <label>If so, Please Describe</label>
    <%= form.text_area :owes_money_real_proprty, id: :owes_money_real_proprty, class: "w3-input w3-border", rows: 5 %>
    <label>Legal Description</label>
    <%= form.text_field :legal_description, id: :legal_description, class: "w3-input w3-border" %>
    <label>Folio / Parcel Number</label>
    <%= form.text_field :folio_or_parcel_number, id: :folio_or_parcel_number, class: "w3-input w3-border" %>
    <label>Physical Address</label>
    <%= form.text_field :physical_address, id: :physical_address, class: "w3-input w3-border" %>
    <label>Payor's Interest in the Property?</label>
    <%= form.text_area :owes_money_interest_in_property, id: :owes_money_interest_in_property, class: "w3-input w3-border", rows: 3 %>
    <p class="field-explanation-sub-title margin-md">Monthly Child Support Obligation</p>
    <label>Bi-Monthly Amount</label>
    <%= form.number_field :monthly_cs_bi_monthly_amount, id: :monthly_cs_bi_monthly_amount, class: "w3-input w3-border" %>
    <label>Bi-Wkeekly Amount</label>
    <%= form.number_field :monthly_cs_bi_weekly_amount, id: :monthly_cs_bi_weekly_amount, class: "w3-input w3-border" %>
    <label>Weekly Amount</label>
    <%= form.number_field :monthly_cs_weekly_amount, id: :monthly_cs_weekly_amount, class: "w3-input w3-border" %>
    <label>Total Number of Months Delinquent Child Support</label>
    <%= form.number_field :monthly_cs_number_of_months_delinquent_child_support, id: :monthly_cs_number_of_months_delinquent_child_support, class: "w3-input w3-border" %>
    <label>Date of Last Child Support Payment</label>
    <%= form.date_field :monthly_cs_date_of_last_child_support_payment, id: :monthly_cs_date_of_last_child_support_payment, class: "w3-input w3-border" %>
    <label>Amount of Last Child Support Payment</label>
    <%= form.number_field :monthly_cs_amount_of_last_child_support_payment, id: :monthly_cs_amount_of_last_child_support_payment, class: "w3-input w3-border" %>
    <label>Total Child Support Averages Owes as of</label>
    <%= form.date_field :monthly_cs_averages_owed_as_of, id: :monthly_cs_averages_owed_as_of, class: "w3-input w3-border" %>
    <label>Is $</label>
    <%= form.number_field :monthly_cs_averages_owed, id: :monthly_cs_averages_owed, class: "w3-input w3-border" %>
    <label>Total Alimony and Child Support Averages Owed as of</label>
    <%= form.date_field :monthly_alimony_cs_averages_owed_as_of, id: :monthly_alimony_cs_averages_owed_as_of, class: "w3-input w3-border" %>
    <label>Is $</label>
    <%= form.number_field :monthly_alimony_cs_averages_owed, id: :monthly_alimony_cs_averages_owed, class: "w3-input w3-border" %>
    <p class="field-explanation-sub-title margin-md">Monthly Alimony Obligation</p>
    <label>Bi-Monthly Amount</label>
    <%= form.number_field :monthly_alimony_bi_monthly_amount, id: :monthly_alimony_bi_monthly_amount, class: "w3-input w3-border" %>
    <label>Bi-Weekly Amount</label>
    <%= form.number_field :monthly_alimony_bi_weekly_amount, id: :monthly_alimony_bi_weekly_amount, class: "w3-input w3-border" %>
    <label>Weekly Amount</label>
    <%= form.number_field :monthly_alimony_weekly_amount, id: :monthly_alimony_weekly_amount, class: "w3-input w3-border" %>
    <label>Total Number of Months Delinquent Alimony</label>
    <%= form.number_field :monthly_alimony_number_of_months_delinquent_child_support, id: :monthly_alimony_number_of_months_delinquent_child_support, class: "w3-input w3-border" %>
    <label>Date of Last Alimony Payment</label>
    <%= form.date_field :monthly_alimony_date_of_last_child_support_payment, id: :monthly_alimony_date_of_last_child_support_payment, class: "w3-input w3-border" %>
    <label>Amount of Last Alimony Payment</label>
    <%= form.number_field :monthly_alimony_amount_of_last_child_support_payment, id: :monthly_alimony_amount_of_last_child_support_payment, class: "w3-input w3-border" %>
    <label>Total Alimony Averages Owes as of</label>
    <%= form.date_field :monthly_alimony_averages_owed_as_of, id: :monthly_alimony_averages_owed_as_of, class: "w3-input w3-border" %>
    <label>Is $</label>
    <%= form.number_field :monthly_alimony_averages_owed, id: :monthly_alimony_averages_owed, class: "w3-input w3-border" %>
    <label>Total Alimony and Child Support Averages Owed as of</label>
    <%= form.date_field :monthly_alimony_cs_averages_owed_as_of, id: :monthly_alimony_cs_averages_owed_as_of, class: "w3-input w3-border" %>
    <label>Is $</label>
    <%= form.number_field :monthly_alimony_cs_averages_owed, id: :monthly_alimony_cs_averages_owed, class: "w3-input w3-border" %>
    <label>Attorney Fees Owed Amount</label>
    <%= form.number_field :attorney_fees_owed_amount, id: :attorney_fees_owed_amount, class: "w3-input w3-border" %>
    <label>Written Settlement Agreement Sign Date</label>
    <%= form.date_field :written_settlement_agreement_date_signed, id: :written_settlement_agreement_date_signed, class: "w3-input w3-border" %>
    <p class="field-explanation-sub-title margin-md">Is there a prevailing party clause in any agreement, judgment or order?</p>
    <label>If so, Please Describe</label>
    <%= form.text_area :prevailing_party_clause, id: :prevailing_party_clause, class: "w3-input w3-border", rows:5 %>
    <label>Written Parenting Plan Sign Date</label>
    <%= form.date_field :written_parenting_plan_date_signed, id: :written_parenting_plan_date_signed, class: "w3-input w3-border" %>
    <label>Income Withholding or Income Deduction Order Sign Date</label>
    <%= form.date_field :income_withholding_order_date_signed, id: :income_withholding_order_date_signed, class: "w3-input w3-border" %>
    <label>Central Depository Address</label>
    <%= form.text_field :central_depository_address, id: :central_depository_address, class: "w3-input w3-border" %>
    <label>FIPS Code</label>
    <%= form.text_field :fips_code, id: :fips_code, class: "w3-input w3-border" %>
    <p>
      <%= form.check_box :remittance_identifier, id: :client_remittance_identifier, class: "w3-input w3-border" %>
      <label for="client_remittance_identifier" class="field-explanation-sub-title">Remittance Identifier</label>
    </p>
  </div>
</div>
