<script src="/assets/client_applications/step_3.js" charset="utf-8"></script>

<h2>Step 3:</h2>
<ul class="step-3-ul">
  <li>Agree to Hire Support Solutions</li>
  <li>You made it this far! Keep up the great work!</li>
  <li>In order to continue any further, a cost retainer will need to be paid to secure your representation and begin an immediate investigation.</li>
  <li>---ADD CONTINGENCY FEE AGREEMENT---</li>
</ul>


<div id="validations">
  <div id="errors" class="error"></div>
  <div id="success" class="btn-success"></div>
</div>

<%= form_with(model: @client, url: register_step_3_path, remote: true, method: :post) do |form| %>

  <div class="container">
    <div class="jumbotron">

      <div class="form-group">
        <%= form.label :mailing_address, class: "form-label" %>
        <%= form.text_field :mailing_address, id: :client_mailing_address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :county_name, class: "form-label" %>
        <%= form.text_field :county_name, id: :client_county_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :alimony_child_support_required, value: "Do you have a final judgment or court order requiring someone to pay you alimony and / or child support?", class: "form-label" %>
        <%= form.check_box :alimony_child_support_required, id: :client_alimony_child_support_required, class: "form-control" %>
      </div>

      <div id="cannot_assist_msg_div" class="error" hidden="true">
        <p>Unfortunately, Support Solution cannot assist you this time. You need to get a court order or final judgment from the court awarding you alimony and / or child support. Feel free to contact us for further information.</p>
      </div>

        <%= form.submit "Complete Step 3", class:"button hvr-underline-from-center header-photo-btn", id: "step_3_submit" %>

    </div>
  </div>
</div>

<% end %>
