<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>


<p>
  <strong>PDFS</strong>
  <%= link_to "PDFs", client_pdfs_path(client_id: @client.id) %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
