
<h1 class="fancy-title">New Client Application</h1>

<ul>
  <% if flash[:step_2_errors] %>
    <% flash[:step_2_errors].each do |message| %>
      <li class="error"><%= message %></li>
    <% end %>
  <% elsif flash[:step_1_success] %>
    <li class="success"><%= flash[:step_1_success] %></li>
  <% end %>
</ul>

<h2>Step 4 - Post Payment</h2>


<%= form_with(model: Client.first, url: register_step_1_path, remote: true, method: :post) do |form| %>

  <div class="container">

    <div class="jumbotron">

      <div class="form-group">
        <%= form.label :first_name, class: "form-label" %>
        <%= form.text_field :first_name, id: :client_first_name, required: true,  class: "form-control" %>
      </div>

      <%= form.submit "Complete Step 1", class:"button hvr-underline-from-center header-photo-btn", id: "step_1_submit" %>

    </div>
  </div>

<% end %>
