
<h1 class="fancy-title">New Client Application</h1>

<ul>
  <% if flash[:step_4_errors] %>
    <% flash[:step_4_errors].each do |message| %>
      <li class="error"><%= message %></li>
    <% end %>
  <% elsif flash[:step_3_success] %>
    <li class="success"><%= flash[:step_3_success] %></li>
  <% end %>
</ul>

<h2>Step 4 - Post Payment (Final Step)</h2>

<%= form_with(model: @client, url: register_step_4_path, local: true, method: :post) do |form| %>

  <div class="container">

    <div class="jumbotron margin-sm">

      <div class="form-group">
        <h3>In case we are not able to reach you is there someone else we can contact? (optional)</h3>
        <%= form.label :alternate_contact_name, value: "Full name", class: "form-label margin-md" %>
        <%= form.text_field :alternate_contact_name, id: :client_alternate_contact_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :alternate_contact_phone_number, value: "Phone number", class: "form-label" %>
        <%= form.text_field :alternate_contact_phone_number, id: :client_alternate_contact_phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :alternate_contact_phone_number, value: "Email", class: "form-label" %>
        <%= form.text_field :alternate_contact_email, id: :client_alternate_contact_phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <p>Best Method to Contact This Person</p>
        <label class="radio-inline" for="client_alternate_contact_best_method">
          <%= form.radio_button :alternate_contact_best_method, "phone", id: :client_alternate_contact_best_method %> Phone
        </label>
        <label class="radio-inline" for="client_alternate_contact_best_method">
          <%= form.radio_button :alternate_contact_best_method, "email", id: :client_alternate_contact_best_method %> Email
        </label>
        <label class="radio-inline" for="client_alternate_contact_best_method">
          <%= form.radio_button :alternate_contact_best_method, "both", id: :client_alternate_contact_best_method %> Both
        </label>
      </div>

      <div class="form-group margin-md">
        <%= form.label :birth_date, value: "Date of birth (--who?--)", class: "form-label margin-md" %>
        <%= form.date_field :birth_date, id: :client_birth_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :gender, "Gender", class: "form-label" %>
        <label class="radio-inline" for="client_gender">
          <%= form.radio_button :gender, "male", id: :client_gender %> Male
        </label>
        <label class="radio-inline" for="client_gender">
          <%= form.radio_button :gender, "female", id: :client_gender %> Female
        </label>
      </div>
      <div id="owes_money_race_div" class="form-group">
        <%= form.label :owes_money_race, value: "Race of other party who owes you money?", class: "form-label margin-sm" %>
        <label class="form-check-label" for="client_owes_money_race"><%= form.radio_button :owes_money_race, "white", id: :client_owes_money_race %>    White/Caucasian</label>
        <label class="form-check-label" for="client_owes_money_race"><%= form.radio_button :owes_money_race, "black", id: :client_owes_money_race %>    Black/African-American</label>
        <label class="form-check-label" for="client_owes_money_race"><%= form.radio_button :owes_money_race, "hispanic", id: :client_owes_money_race %>    Hispanic</label>
        <label class="form-check-label" for="client_owes_money_race"><%= form.radio_button :owes_money_race, "asian", id: :client_owes_money_race %>    Asian/Pacific Islander</label>
        <label class="form-check-label" for="client_owes_money_race"><%= form.radio_button :owes_money_race, "indian", id: :client_owes_money_race %>    American Indian/Alaskan</label>
        <label class="form-check-label" for="client_owes_money_race"><%= form.radio_button :owes_money_race, "asian", id: :client_owes_money_race %>    Asian/Pacific Islander</label>
        <label class="form-check-label" for="client_owes_money_race"><%= form.radio_button :owes_money_race, "other", id: :client_owes_money_race_other %>    Other</label>
        <div id="other_race_div" hidden="true">
          <input type="text" class="form-control" id="client_owes_money_race_other_text" placeholder="Other (race not specified above)">
        </div>
      </div>

      <div class="form-group margin-md">
        <h3>What is the FULL NAME of the person who owes you money?</h3>
        <%= form.label :owes_money_first_name, value: "First name", class: "form-label" %>
        <%= form.text_field :owes_money_first_name, id: :client_owes_money_first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_middle_name, value: "Middle name (optional)", class: "form-label" %>
        <%= form.text_field :owes_money_middle_name, id: :client_owes_money_middle_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_last_name, value: "Last name", class: "form-label" %>
        <%= form.text_field :owes_money_last_name, id: :client_owes_money_last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <h3>Does the person who owes you money have any aliases / nicknames?</h3>
        <%= form.label :owes_money_first_nickname, value: "First", class: "form-label" %>
        <%= form.text_field :owes_money_first_nickname, id: :client_owes_money_first_nickname, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_last_nickname, value: "Last", class: "form-label" %>
        <%= form.text_field :owes_money_last_nickname, id: :client_owes_money_last_nickname, class: "form-control" %>
      </div>
      <div class="form-group margin-md">
        <h3>What is their home address?</h3>
        <%= form.label :owes_money_street, value: "Street", class: "form-label" %>
        <%= form.text_field :owes_money_street, id: :client_owes_money_street, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_apt, value: "Apartment", class: "form-label" %>
        <%= form.text_field :owes_money_apt, id: :client_owes_money_apt, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_city, value: "City", class: "form-label" %>
        <%= form.text_field :owes_money_city, id: :client_owes_money_city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_county, value: "County (optional)", class: "form-label" %>
        <%= form.text_field :owes_money_county, id: :client_owes_money_county, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_country, value: "Country ADD JS", class: "form-label" %>
        <%= form.select :owes_money_country, options_for_select(countries), {}, { class:"form-control", id: "countries"} %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_state, value: "State", class: "form-label" %>
        <%= form.select :owes_money_state, options_for_select(us_states), {}, { class:"form-control", id: "states"} %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_zip, value: "Zip (optional)", class: "form-label" %>
        <%= form.text_field :owes_money_zip, id: :client_owes_money_zip, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_work_address, value: "What is their work address? (optional)", class: "form-label" %>
        <%= form.text_field :owes_money_work_address, id: :client_owes_money_work_address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_phone_number, value: "What is their phone number? (optional)", class: "form-label" %>
        <%= form.text_field :owes_money_phone_number, id: :client_owes_money_phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_email, value: "What is their email address? (optional)" , class: "form-label" %>
        <%= form.text_field :owes_money_email, id: :client_owes_money_email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_occupation, value: "Occupation of the person who owes you money" , class: "form-label" %>
        <%= form.text_field :owes_money_occupation, id: :client_owes_money_occupation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_birth_date, value: "Birth date" , class: "form-label" %>
        <%= form.date_field :owes_money_birth_date, id: :client_owes_money_birth_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_ssn, value: "Social security number" , class: "form-label" %>
        <p class="margin-sm">Please enter the SSN of the person who owes you money. If you cannot locate the SSN of the person that owes you money, try to locate old joint tax returns or other documents where that information could be found.</p>
        <%= form.text_field :owes_money_ssn, id: :client_owes_money_ssn, class: "form-control" %>
      </div>
      <div class="form-group margin-sm">
        <%= form.label :owes_money_is_in_jail, value: "To your knowledge, is the person who owes presently in jail or prison?", class: "form-label" %>
        <label class="radio-inline" for="client_owes_money_is_in_jail">
          <%= form.radio_button :owes_money_is_in_jail, true, id: :client_owes_money_is_in_jail %> Yes
        </label>
        <label class="radio-inline" for="client_owes_money_is_in_jail">
          <%= form.radio_button :owes_money_is_in_jail, false, id: :client_owes_money_is_in_jail %> No
        </label>
      </div>

      <div class="form-group margin-md">
        <h3>Work Company Address</h3>
        <h3>The address where the person that owes you money is employed</h3>
        <%= form.label :owes_money_work_street, value: "Street", class: "form-label margin-md" %>
        <%= form.text_field :owes_money_work_street, id: :client_owes_money_work_street, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_street, value: "Address", class: "form-label" %>
        <%= form.text_field :owes_money_street, id: :client_owes_money_street, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_work_city, value: "City", class: "form-label" %>
        <%= form.text_field :owes_money_work_city, id: :client_owes_money_work_city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_work_state, value: "State / Province / Region", class: "form-label" %>
        <%= form.text_field :owes_money_work_state, id: :client_owes_money_work_state, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :owes_money_work_zip, value: "Zip / Postal Code", class: "form-label" %>
        <%= form.text_field :owes_money_work_zip, id: :client_owes_money_work_zip, class: "form-control" %>
      </div>
    </div>

    <h2>Security Section</h2>

    <div class="jumbotron margin-md">
      <div class="form-group">
        <%= form.label :ssn, value: "Social securtiy number", class: "form-label" %>
        <p class="margin-sm">Enter your social security number. Your social security number is necessary because Support Solutions will be legally representing you in this child support case. We take the utmost precautions to protect your personal information and only ask for information that is necessary for us to conduct our business. We understand this information is sensitive and we are legally responsible to protect your privacy. Please read our privacy-link policy.</p>
        <%= form.text_field :ssn, id: :client_ssn, class: "form-control" %>
      </div>
      <div class="form-group margin-sm">
        <%= form.label :mother_full_name, value: "Enter your mother's full name (First & Last) for added security", class: "form-label" %>
        <%= form.text_field :mother_full_name, id: :client_mother_full_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :mother_maiden_name, value: "Mother's maiden name", class: "form-label" %>
        <%= form.text_field :mother_maiden_name, id: :client_mother_maiden_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :case_number, value: "Case number", class: "form-label" %>
        <%= form.text_field :case_number, id: :client_case_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :court_order_state, value: "Court order state", class: "form-label" %>
        <%= form.select :court_order_state, options_for_select(us_states), {}, { class:"form-control"} %>
      </div>
      <div class="form-group">
        <%= form.label :court_order_county, value: "Court order county", class: "form-label" %>
        <%= form.text_field :court_order_county, id: :client_court_order_county, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :final_judgment_obtained_date, value: "Date final judgment was obtained", class: "form-label" %>
        <%= form.date_field :final_judgment_obtained_date, id: :client_final_judgment_obtained_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :court_case_filed_name, value: "Name of court where the case was filed (example: Circuit Court, Miami)", class: "form-label" %>
        <%= form.text_field :court_case_filed_name, id: :client_court_case_filed_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <h3>Children involved in case</h3>
        <p>Child 1</p>
        <%= form.label :child_1_first_name, value: "First", class: "form-label" %>
        <%= form.text_field :child_1_first_name, id: :client_child_1_first_name, class: "form-control" %>
        <%= form.label :child_1_last_name, value: "Last", class: "form-label margin-sm" %>
        <%= form.text_field :child_1_last_name, id: :client_child_1_last_name, class: "form-control" %>
        <%= form.label :child_1_birth_date, value: "Date of Birth", class: "form-label margin-sm" %>
        <%= form.date_field :child_1_birth_date, id: :client_child_1_birth_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <p>Child 2</p>
        <%= form.label :child_2_first_name, value: "First", class: "form-label" %>
        <%= form.text_field :child_2_first_name, id: :client_child_2_first_name, class: "form-control" %>
        <%= form.label :child_2_last_name, value: "Last", class: "form-label margin-sm" %>
        <%= form.text_field :child_2_last_name, id: :client_child_2_last_name, class: "form-control" %>
        <%= form.label :child_2_birth_date, value: "Date of Birth", class: "form-label margin-sm" %>
        <%= form.date_field :child_2_birth_date, id: :client_child_2_birth_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <p>Child 3</p>
        <%= form.label :child_3_first_name, value: "First", class: "form-label" %>
        <%= form.text_field :child_3_first_name, id: :client_child_3_first_name, class: "form-control" %>
        <%= form.label :child_3_last_name, value: "Last", class: "form-label margin-sm" %>
        <%= form.text_field :child_3_last_name, id: :client_child_3_last_name, class: "form-control" %>
        <%= form.label :child_3_birth_date, value: "Date of Birth", class: "form-label margin-sm" %>
        <%= form.date_field :child_3_birth_date, id: :client_child_3_birth_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <p>Child 4</p>
        <%= form.label :child_4_first_name, value: "First", class: "form-label" %>
        <%= form.text_field :child_4_first_name, id: :client_child_4_first_name, class: "form-control" %>
        <%= form.label :child_4_last_name, value: "Last", class: "form-label margin-sm" %>
        <%= form.text_field :child_4_last_name, id: :client_child_4_last_name, class: "form-control" %>
        <%= form.label :child_4_birth_date, value: "Date of Birth", class: "form-label margin-sm" %>
        <%= form.date_field :child_4_birth_date, id: :client_child_4_birth_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <p>Child 5</p>
        <%= form.label :child_5_first_name, value: "First", class: "form-label" %>
        <%= form.text_field :child_5_first_name, id: :client_child_5_first_name, class: "form-control" %>
        <%= form.label :child_5_last_name, value: "Last", class: "form-label margin-sm" %>
        <%= form.text_field :child_5_last_name, id: :client_child_5_last_name, class: "form-control" %>
        <%= form.label :child_5_birth_date, value: "Date of Birth", class: "form-label margin-sm" %>
        <%= form.date_field :child_5_birth_date, id: :client_child_5_birth_date, class: "form-control" %>
      </div>

    </div>

    <%= form.submit "Complete Step 4", class:"button hvr-underline-from-center header-photo-btn" %>


  </div>

<% end %>
