<%= form_for(@settings, url: update_settings_path) do |form| %>

    <h2 class="fancy-title-h2">General Settings</h2>
    <div class="jumbotron">

      <div class="form-group">
        <%= form.label "JUDICIAL CIRCUIT", class: "form-label" %>
        <%= form.text_field :jc_number, id: :setting_jc_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :county_name, class: "form-label" %>
        <%= form.text_field :county_name, id: :setting_county_name, class: "form-control" %>
      </div>

      <%= form.submit "Save Settings", class:"button hvr-underline-from-center header-photo-btn" %>
    </div>

<% end %>

<% if current_user.admin? %>
  <h2 class="fancy-title-h2">User Settings</h2>
  <div class="jumbotron">

    <div class="container table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>User Id</th>
            <th>User Email</th>
            <th>Created At</th>
            <th>Grant Privileges</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user_table| %>
            <tr>
              <td><%= user_table.id %></td>
              <td><%= user_table.email %></td>
              <td><%= user_table.created_at %></td>
              <% if user_table.admin?%>
                <!-- <td><input type="checkbox" name="user[is_admin]" checked="checked"></td> -->
                <td><%= link_to "Remove", update_admin_path(user_id: user_table.id), method: :patch, style:"color:red !important" %></td>
              <% else %>
                <td><%= link_to "Grant", update_admin_path(user_id: user_table.id), method: :patch, style:"color:green !important" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
