
<nav class="navbar navbar-default navbar-fixed-top" data-aos="fade-down" data-aos-duration="3000" style="background-color:white" >
  <div class="container">
              <div class="row">
                <div class="text-center">
                  <a class="navbar-brand navbar-link" href=""><%= image_tag "logo.png", class:"navbar-brand"%></a>
                <div class="navbar-header" style="padding-top:50px;">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="navbar-collapse collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right" style="background-color:white">
                      <li role="presentation"><a href="http://owedsupport.com/">Home </a></li>
                      <li><%= link_to "Start an Application", step_1_path %> </li>
                      <li role="presentation"><a href="http://owedsupport.com/contact-us/" >Contact Us</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <% if user_signed_in? %>
                              <li><%= link_to "Client Applications", clients_path %></li>
                            <% end %>
                            <li><%= link_to "Start an Application", step_1_path %> </li>
                            <% if user_signed_in? %>
                                <li><a><%= current_user.email %></a></li>
                                <li><%= link_to 'Log-out', destroy_user_session_path, method: :delete %></li>
                                <li><a href="<%= edit_settings_path %>"><i class="fa fa-2x fa-cog" style="color:#17874a"></i></a></li>
                            <%else%>
                                <li><%= link_to 'Log-in', new_user_session_path %></li>
                                <li><%= link_to 'Sign up', new_user_registration_path %></li>
                            <%end%>
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li role="presentation"><a href="http://owedsupport.com/about-us/" >About Us</a></li>
                            <li role="presentation"><a href="http://owedsupport.com/why-support-solutions/" >Why Support Solutions</a></li>
                            <li role="presentation"><a href="http://owedsupport.com/faq/" >FAQ</a></li>
                            <li role="presentation"><a href="http://owedsupport.com/blog/" >Support Solutions Blog</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
    </div>
  </nav>

<div class="container margin-xl">
